.table-form{
    margin: 100px auto;
}

.decreament{
    border-radius: 100%;
}

.increament{
    border-radius: 100%;
}

.member{
    margin: 0 auto 50px auto;
}

.number{
    font-size: 20px;
    margin-bottom: 0 !important
}